<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="/styles/app.css">
   <script src="app.js"></script>
   <title>templates</title>
</head>
<body>
   <h1>Hello <%= user%></h1>
   <h2>Number of Weeks: <%=weeks %></h2>
   <h3> Median contributions: <%=median %></h3>
   <br />
    <table>
      <thead>
        <tr>
          <th><h2> PROGRESS</h2></th>
        </tr>
      </thead>
      <tbody>
      <% for (let i = 0; i < weeksData.length; i++) { %>
        <tr>
          <td><%=weeksData[i].weekEmojiString%></td>
        </tr>
      <% } %>
      </tbody>
    </table>
   <br />
   <hr />
   <table>
    <thead>
      <tr>
        <th><h2> PROGRESS CUBE</h2></th>
      </tr>
    </thead>
    <tbody>
    <% for (let i = 0; i < weeksData.length; i++) { %>
      <tr>
        <td>Week <%= [i] %></td>
        <% for (let j = 0; j < 7; j++) { %>
          
          <td><%= weeksData[i][j].count %></td>
        <% } %>
      </tr>
    <% } %>
    </tbody>
  </table>
  <hr />

  <table>
    <thead>
      <tr>
        <th><h2> PROGRESS CUBE</h2></th>
      </tr>
    </thead>
    <tbody>
    <% for (let i = 0; i < weeksData.length; i++) { %>
      <tr>
        <td>Week <%= [i] %></td>
        <% for (let j = 0; j < 7; j++) { %>
          <% if ( weeksData[i][j].count < median && weeksData[i][j].count !== 0) { %>
            <td>🙂</td>
          <% } %>
          <% if ( weeksData[i][j].count === median) { %>
            <td>😀</td>
          <% } %>
          <% if ( weeksData[i][j].count > median) { %>
            <td>😁</td>
          <% } %>
          <% if ( weeksData[i][j].count === 0) { %>
            <td></td>
          <% } %>
        <% } %>
      </tr>
    <% } %>
    </tbody>
  </table>
  <hr />

  <table>
    <thead>
      <tr>
        <th><h2> PROGRESS CUBE</h2></th>
      </tr>
    </thead>
    <tbody>
    <% for (let i = 0; i < weeksData.length; i++) { %>
      <tr>
        <td>Week <%= [i] %></td>
        <% for (let j = 0; j < 7; j++) { %>
          <% if ( weeksData[i][j].count < median && weeksData[i][j].count !== 0) { %>
            <td class="progressBox pale"></td>
          <% } %>
          <% if ( weeksData[i][j].count === median) { %>
            <td class="progressBox med"></td>
          <% } %>
          <% if ( weeksData[i][j].count > median) { %>
            <td class="progressBox dark"></td>
          <% } %>
          <% if ( weeksData[i][j].count === 0) { %>
            <td class="progressBox empty"></td>
          <% } %>
        <% } %>
      </tr>
    <% } %>
    </tbody>
  </table>
  <hr />

  <table id="progressBarTable">
    <thead>
      <tr>
        <th><h2> PROGRESS BAR</h2></th>
      </tr>
    </thead>
    <tbody>
    <% for (let i = 0; i < weeksData.length; i++) { %>
      <tr>
        <td>Week <%= [i] %></td>
        <% for (let j = 0; j < 7; j++) { %>
          <td class="bar" style="border-bottom: <%= weeksData[i][j].count%>rem solid rgb(120, 193, 169)"></td>
        <% } %>
      </tr>
    <% } %>
    </tbody>
  </table>
  <hr />


   <% if (weeksData.length > 0) { %>
    <h3>Current Week </h3>
    <% for (let i = 6; i >= 0; i--) { %>
     <p><%= daysArray[i]%>: <%= weeksData[0][i].count %> &nbsp; <%=weeksData[0][i].type%></>
     <p><%=weeksData[0][i].emojiString%></p>
     <br />
    <% } %>
    <hr />
   <% } %>

   <% if (weeksData.length > 1) { %>
    <h3>Last Week</h3>
    <% for (let i = 6; i >= 0; i--) { %>
     <p><%= daysArray[i]%>: <%= weeksData[1][i].count %></p>
     <h4><%=weeksData[1][i].type%></h4>
     <h4><%=weeksData[1][i].emojiString%></h4>
     <br />
    <% } %>
    <hr />
   <% } %>


   <% if (weeksData.length > 2) { %>
    <% for (let i = 2; i < weeksData.length; i++) { %>
      <h3><%= i %> Weeks Ago </h3>
      <% for (let j = 6; j >= 0; j--) { %>
        <p><%= daysArray[j]%>: <%= weeksData[i][j].count %></p>
        <h4><%=weeksData[i][j].type%></h4>
        <h4><%=weeksData[i][j].emojiString%></h4>
        <br />
       <% } %>
       <hr />
     <% } %>

     <br />
   <% } %>

</body>
</html>